@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

article{
    background-color: #F3F3F3;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
    flex-wrap: wrap;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 300px;
    margin: 25px;
    position: relative;
}

article:last-of-type{
    display:none;
}

article button {
    background-color: #00669F;
    border: none;
    color: #F3F3F3;
    padding: 15px 0px;
    margin-bottom: 19px;
    margin-top: 37px;
    font-size: 15px;
    width: 129px;
    align-self: center;
    cursor:pointer;
}

.article-body{
    margin: 100px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.article-body>h3{
    margin-bottom: 20px;
}

.article-header{
    border-radius: 12px 12px 0 0;
    height: 200px;
    position: relative;
}

.background{
    height: 100%;
    width: 100%;
    border-radius: 12px 12px 0 0;
}

.thumbnail{
    border-radius: 100%;
    position: absolute;
    top: 135px;
    left: 95px;
    height: 125px;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding-bottom: 20px;
    background-color: #00669F;
    color: #FFF9F9;
    bottom: 0;
    height: 51px;
    font-size: 16px;
    line-height: 84.69%;
    margin-bottom: 0;
    width: 100%;
    padding-top: 20px;
    padding-left: 16px;
}
footer img{
    height: 20px;
    margin-right: 20px;
    position: relative;
    bottom: 50%;
}

main{
    margin-top: 154px;
    margin-bottom: 151px;
}

nav{
    background-color: #00669F;
    height: 101px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
    position: sticky;
    top: 0px;
    z-index: 1001;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

nav i{
    color:white;
    cursor: pointer;
}

nav h1{
        
    font-size: 2rem;
    font-weight: 400;
    padding: 28px;
    color: white;
}

nav div a{
    display: flex;
}

.nav-links{
    background-color: #001D2D;
    color: white;
    display:none;
}

.nav-links ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

.like-icon{
    z-index: 1000;
    color: red;
    margin-top: 15px;
    margin-left: 21px;
    font-size: 1.7rem;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.plus-button{
    background-color: #00669F;
    color: white;
    width: 75px;
    height: 75px;
    text-align: center;
    text-justify: center;
    border-radius: 100%;
    right: 10px;
    top: 50%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}
.plus-button:active{
    background-color: #001D2D;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.top-bar{
    background-color: #D1891C;
    display: flex;
    justify-content: flex-start;
    padding-left: 16px;
}

.register {
    color: white;
    background-color: #00669F;
    padding: 20px;
    border-radius: 20px;
}

.register form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.register-body{
    display: flex;
    flex-direction: column;
}
.register-body div{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.power{
    display: flex;
    flex-direction: column;       
}

.character-type{
    display: flex;
    flex-direction: column;       
}

fieldset{
    border: none;
}

textarea{
    margin-top: 20px;
    
    border: none;
    border-radius: 8px;
    padding: 10px;
    resize: none;
}

.register-header {
    margin-bottom: 20px;
}

input{
    margin-bottom: 10px;
    height: 33px;
    border: #0000001A 1.53px;
    border-radius: 8px;
    padding: 10px;
}

input[type ="checkbox"]::after{
    background-color: red;
}

.form-send{
    background-color: #1cd1b0;
    color: black;
    font-size: 2rem;
    font-weight: 700;
    border: none;
    border-radius: 18px;
    padding: 20px 100px;
    cursor: pointer;
}

.form-send:active{
    background-color: #001D2D;
    color: white;
}

hr{
    margin-bottom: 20px;
}

select{
    margin-left:10px;
    margin-bottom: 10px;
    height: 33px;
    border: none;
    border-radius: 8px;
    padding: 5px;
}


.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

  /* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

  /* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 6px;
    background-color: #eee;
    border: #C4C4C4 solid 2px;
}

  /* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

  /* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

  /* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

  /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
    display: block;
}

  /* Style the checkmark/indicator */
    .container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5.5px;
    height: 11px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Create a custom radio button */
.radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .radio {
    background-color: #ccc;
}
  /* When the radio button is checked, add a white */
.container input:checked ~ .radio {
    background-color: #eeeeee;
    border: #2196F3 solid 1px;
}

  /* Create the indicator (the dot/circle - hidden when not checked) */
.radio:after {
    content: "";
    position: absolute;
    display: none;
}

  /* Show the indicator (dot/circle) when checked */
.container input:checked ~ .radio:after {
    display: block;
}

  /* Style the indicator (dot/circle) */
.container .radio:after {
    top: 2.4px;
    left: 2.4px;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background: #2196F3;
}

@media (min-width: 480px){
    /*tablet*/
    article:last-of-type{
        display:inline-flex;
    }

    section{
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
    }

    

    .register-body{
        flex-direction: row;
        justify-content: space-between;
    }
    .register-body div + div{
        margin-left: 20px;
    }
    label{
        margin-left: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;
    }

}


@media (min-width: 769px){
    /*pc*/

    nav i.fa{
        display: none;
    }

    .nav-links{
        background-color: #001D2D;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 5px 0;
    }

    .nav-links a{
        text-decoration: none;
        color: white;
    }

    .nav-links li{
        margin-right: 10px;
    }

    .thumbnail{
        height: 150px;
        left: 25%;
        top: 120px;
    }

    .top-bar{
        background-color: #1cd1b0;
    }
    
    .register {
        padding: 20px 120px;
    }

    .register{
        width: 50vw;
        min-width: 700px;
    }
    main{
        display: flex;
        justify-content: center;
    }
}